{% extends "layout.njk" %}
{% block content %}
<main class="contaner flow">
  <header class="hero">
    <img src="https://picsum.photos/1280/720" alt="placholder">
    <div class="filter"></div>
    <h1>{{message}}</h1>
  </header>
  <section class="flow">
    <h2>Underrubrik</h2>
    <p>redfrd</p>
    <p>asded</p>
    <p>awdawdwfwf</p>
  </section>
  <section class="flow">
    <h2>Underrubrik</h2>
    <p>mak</p>
    <p>majorka</p>
  </section>

  <footer class="contaner">
    <p>Copyright 2023 Lukas</p>
  </footer>
</main>
{% endblock %}