{% extends "layout.njk" %}
{% block  content %}
<main class="container">
  <h1>Levande sak välkomen till den icke fungerande samhälet</h1>
  <h2>- Hej min vän du är lite välkomen bryr dig inte om det som står över </h2>
</main>
{% endblock %}