<nav>
    <img src="/img/fri.png" alt="friterad stefan" width="100px" height="100px">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/levande">Levande</a>
        </li>
        <li>
            <a href="/helig">Helig</a>
        </li>
    </ul>
</nav>