<nav>
    <img src="../img/osy.jpg" alt="ossy" width="100px" height="100px">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/andra">andra</a>
        </li>
    </ul>
</nav>